<div class="help-wrapper">
  <h3 class="title"><%=t('help_title.new_reservation')%></h3>
  <div id="description">
		<p><%=t('help_covinoanswer.part1')%></p>
                <p><span><center><img src="/images/help/<%= I18n.locale.to_s %>/covi_noanswer_1.png"></center></span></p>
		<p><%=t('help_covinoanswer.part2')%></p>
		<p><span><center><img src="/images/help/<%= I18n.locale.to_s %>/covi_noanswer_2.png"></center></span></p>
                <p><%=t('help_covinoanswer.part3',:agenda=>"define_agenda")%></p>
                <p><span><center><img src="/images/help/<%= I18n.locale.to_s %>/covi_noanswer_3.png")%></center></span></p>
	</div>
</div>             
