<div class="help-wrapper">
  <h3 class="title"><%=t('help_title.new_reservation')%></h3>
  <div id="description">
		<p><%=t('help_createreservation.part1')%></p>
                <p><span><center><img src="/images/help/<%= I18n.locale.to_s %>/create_reservation.png"></center></span></p>
		<p><%=t('help_createreservation.part2')%></p>
		<p><span><center><img style="width:80%" src="/images/help/<%= I18n.locale.to_s %>/reservation.png"></center></span></p>
                <p><%=t('help_createreservation.part3',:agenda=>"define_agenda")%></p>
                <p><span><center><img style="width:500px;height:160px;" src="/images/help/<%= I18n.locale.to_s %>/reservation_success.png" height="488" width="610")%></center></span></p>
	</div>
</div>             
