<div class="help-wrapper">
  <h3 class="title"><%=t('help_title.new_reservation')%></h3>
  <div id="description">
		<p><%=t('help_soliciteroom.part1')%></p>
                <p><span><center><img src="/images/help/<%= I18n.locale.to_s %>/solicite_room.png"></center></span></p>
		<p><%=t('help_soliciteroom.part2')%></p>
		<p><span><center><img style="width:80%" src="/images/help/<%= I18n.locale.to_s %>/solicite_room_2.png"></center></span></p>
                <p><%=t('help_soliciteroom.part3',:agenda=>"define_agenda")%></p>
                <p><span><center><img src="/images/help/<%= I18n.locale.to_s %>/solicite_room_3.png")%></center></span></p>
	</div>
</div>             
