<div>
  <div id="lightbox-logo"><span><%= image_tag("bola_clara.png",:class=>"icon")%><%=t('vcc')%></span></div>
  <p align="center" class="blue"><%= t('reservation.information_port') %></p>
  <div>
	  <label class="blue" style="font-weight:bold"><%= t('reservation.num_port') %></label><br />
	  <%= t('reservation.information_port_text') %><br /><br />
  </div>
</div>