<div>
	<div id="line">
      	<span class="bold"><%= "Europa" %></span>
    </div>
	<div>
		<%= link_to(image_tag("partner_eu1.png", :style => "float:rigth;display:inline"),"http://cordis.europa.eu/fp7/home_en.html")%>
		<%= link_to(image_tag("partner_eu3.png", :style => "float:rigth;display:inline"),"http://ec.europa.eu/dgs/information_society/index_en.html")%>
		<%= link_to(image_tag("partner_eu2.png", :style => "float:right;display:inline"),"http://cordis.europa.eu/fp7/ict/e-infrastructure/")%>
	</div>

	<div id="line">
      	<span class="bold"><%= "Latinoamerica" %></span>
    </div>
	<div>
		<div style="width:205px;height:105px;float:rigth;display:inline;margin-left:100px;">
		<%= link_to(image_tag("partner_la1.png", :style => "float:rigth;display:inline"),"http://www.redclara.net")%>
		</div>
		
		<div style="width:205px;height:105px;float:rigth;display:inline;margin-left:100px;">
		<%= link_to(image_tag("partner_la6.png", :style => "float:rigth;display:inline"),"http://www.reuna.cl/")%>
		</div>
		
		<div style="width:205px;height:105px;float:right;display:block;margin-left:100px;">
		<%= link_to(image_tag("partner_la2.png", :style => "float:right;display:block"),"http://www.rnp.br/")%>
		</div>
		
		<div style="width:205px;height:105px;float:rigth;display:block">
	       <%= link_to(image_tag("partner_la7.png", :style => "float:rigth;display:inline"),"http://www.renata.edu.co/")%>		
		</div>
		<div style="width:205px;height:105px;float:rigth;display:block">
		<%= link_to(image_tag("partner_la3.png", :style => "float:rigth;display:block"),"http://www.innova-red.net/")%>
		</div>
		<div style="width:205px;height:105px;float:rigth;display:inline">
		<%= link_to(image_tag("partner_la4.png", :style => "float:rigth;display:block"),"http://www.cedia.org.ec/")%>		
		</div>
		<div style="width:205px;height:105px;float:right;display:block;">
		<%= link_to(image_tag("partner_la5.png", :style => "float:right;display:block;"),"http://www.cudi.edu.mx/")%>							
		</div>
		<div style="width:205px;height:105px;float:right;display:inline">
		<%= link_to(image_tag("partner_la8.png", :style => "float:right;display:inline"),"http://www.raices.org.sv/")%>
		</div>

		<div style="width:205px;height:105px;float:rigth;display:inline">
		<%= link_to(image_tag("partner_la9.png", :style => "float:rigth;display:inline"),"http://www.ragie.org.gt/")%>	
		</div>
	</div>
	
</div>
