<p>
  <label><%= form.label :name, t('room.name')%></label><br />
  <%= form.text_field :name %>
</p>

<p>
  <label><%= form.label :description, t('room.description')%></label><br />
  <%= form.text_area :description %>
</p>

<p>
  <label><%= form.label :country, t('room.country')%></label><br />
  <%= form.text_field :country %>
</p>

<p>
  <label><%= form.label :city, t('room.city')%></label><br />
  <%= form.text_field :city %>
</p>

<p>
  <label><%= form.label :location, t('room.location')%></label><br />
  <%= form.text_area :location %>
</p>

<p>
  <label><%= form.label :service_type, t('room.service_type')%></label><br />
  <%= form.text_field :service_type %>
</p>

<p>
  <label><%= form.label :ip_address, t('room.ip_address')%></label><br />
  <%= form.text_field :ip_address %>
</p>

<p>
  <label><%= form.label :uri, t('room.uri')%></label><br />
  <%= form.text_field :uri %>
</p>

<p>
  <label><%= form.label :lng, t('room.lng')%></label><br />
  <%= form.text_field :lng %>
</p>

<p>
  <label><%= form.label :lat, t('room.lat')%></label><br />
  <%= form.text_field :lat %>
</p>

<p>
  <label><%= form.label :user_id, t('room.user_id')%></label><br />
  <%= form.text_field :user_id %>
</p>


