<% content_for :headers do  -%>
  <%= javascript_include_tag 'user_filter' %>
  <%= javascript_include_tag 'jquery.fcbkcomplete' %>
  <%= stylesheet_link_tag "fcbkcomplete", :media => "screen, projection" %>
<% end %>

<% content_for :search do  %>
	<%= render :partial => 'search/form' %>
<%end%>
<% if current_user.superuser?%>
	<%= render :partial => 'menu' %>
<% else %>
	<% menu :admin %>

	<% if space.role_for?(current_user, :name => 'Admin') || current_user.superuser? %>
	  <%= render :partial => 'spaces/admin_tabs' %>
	<% end %>
<% end %>


<% content_for :javascript do %>
    $(".available_schedule_link").fancybox({
    'frameWidth' : 640,
    'frameHeight' : 480
  });

  $(".cancel").click(function ()
  	{
		$(window.location).attr('href', "<%=space_rooms_path %>");
    });

<% end %>


<div id="line">
   <span class="bold"><%= t('room.editing') %></span>
</div>
		
<div id="edit_public_profile">
	<div class="profile_content_item">
<% form_for(@room) do |f| %>
  <%= f.error_messages %>

  <div>
    <span style="margin-left:70px"><label> <%= t("room.name") %></label> </span>   
    <span style="margin-left:112px"><label><%= @room.name %></label></span>
  </div>
  <div>
    <span style="margin-left:70px"><label><%= t("room.institucion") %></label></span>
    <span style="margin-left:97px"><label><%= @room.space.name %></label></span>
  </div>
  <div class="margin-up">
    <label>Covi Asignado(s)</label>
   <span>
<%= select_tag "performance[agent]", "<option>Agregar COVI</option>" + options_for_select(User.find_all_by_superuser(0).collect { |u| [ u.profile.full_name, "user-" + u.id.to_s ] }), :class=>"small-font main_text" %></span>
<br />

   <div class="margin-up" style="margin:0px 0px 0px 225px">
     <ul id="holder_covis" class="holder margin-up">
     <% for perfs in @room.performances_by_role("COVI") %>
       <li id="<%= "covi_#{perfs.agent.id}" %>" class="bit-box" rel="<%= "#{perfs.agent.id}" %>"><%= "#{perfs.agent.name}" %>
         <a class='closebutton' href='#' onclick='$.ajax({url: "/performances/<%="#{perfs.id}"%>", type: "DELETE", success: function(){ window.location.reload(); } });'>
         </a>
       </li>
     <% end %>
     </ul>
   </div>
  </div>

     <br />
  <div align="right">
    <button type="submit" class="basic_button blue_button"><%="Guardar"%></button>
    <button type="button" class="basic_button blue_button cancel"><%="Cancelar"%></button>
  </div>

  </div>
 
<% end %>
	</div>
</div>
